@using SGCM.Models.Ausencia.ConsultarAusenciaModel
@model List<ConsultarAusenciaBancoModel>

@{
    ViewData["Title"] = "Consultar Ausência";
}

<partial name="/Views/Ausencia/Partials/_AusenciaStyle.cshtml" />

<div class="consulta-container">
    <div>
        <h3>Ausências cadastrados pelo Usuario: @ViewData["nome"]</h3>
    </div>
    <table title="Tabela das Ausências" class="table table-striped table-bordered text-center padding" border="1">
        <thead>
            <tr>
                <td>Data da Ausência</td>
                <td>06:00</td>
                <td>06:30</td>
                <td>07:00</td>
                <td>07:30</td>
                <td>08:00</td>
                <td>08:30</td>
                <td>09:00</td>
                <td>09:30</td>
                <td>10:00</td>
                <td>10:30</td>
                <td>11:00</td>
                <td>11:30</td>
                <td>12:00</td>
                <td>12:30</td>
                <td>13:00</td>
                <td>13:30</td>
                <td>14:00</td>
                <td>14:30</td>
                <td>15:00</td>
                <td>15:30</td>
                <td>16:00</td>
                <td>16:30</td>
                <td>17:00</td>
                <td>17:30</td>
                <td>18:00</td>
                <td>18:30</td>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                @foreach (var ausencia in Model)
                {
                    <tr>
                        <td>@ausencia.DataInicio.ToShortDateString()</td>
                        <td>
                            @{
                                if (ausencia.Seis == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.SeisMeia == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.Sete == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.SeteMeia == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.Oito == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.OitoMeia == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.Nove == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.NoveMeia == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.Dez == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.DezMeia == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.Onze == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.OnzeMeia == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.Doze == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.DozeMeia == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.Treze == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.TrezeMeia == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.Quatorze == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.QuatorzeMeia == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.Quinze == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.QuinzeMeia == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.Dezesseis == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.DezesseisMeia == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.Dezessete == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.DezesseteMeia == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.Dezoito == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (ausencia.DezoitoMeia == 1)
                                {
                                    <span style="color: red; font-size: smaller">Ausênte</span>
                                }
                                else
                                {
                                    <span style="color: red; font-size: smaller">Livre</span>
                                }
                            }
                        </td>
                        <td>
                            <div>
                                <a asp-controller="Ausencia" asp-action="EditarAusencia" asp-route-id="@ausencia.idAusencia">Edit</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <partial name="/Views/Ausencia/Partials/_AusenciaScript.cshtml" />
}

<button type="button" id="btnModalConsultaAusencia" class="btn btn-primary displayNone" data-toggle="modal" data-target="#editarAusenciaModal"> </button>

<div class="modal fade" id="editarAusenciaModal" tabindex="-1" role="dialog" aria-labelledby="editarAusenciaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header displayFlex">
                <h4 class="modal-title width100" id="editarAusenciaModalLabel">@ViewBag.MensagemTitle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (ViewBag.MensagemBodyController.ToString() != "")
                {<h5>@ViewBag.MensagemBodyController</h5>}
                @if (ViewBag.MensagemBodyAction.ToString() != "")
                {<h5>@ViewBag.MensagemBodyAction</h5>}
                <h5 id="mensagemBody">@ViewBag.MensagemBody</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.MensagemBody.ToString() != "")
{
    <script>
        $(document).ready(function () {
            $('#btnModalConsultaAusencia').click();
        });
    </script>
}