@using SGCM.Models.Ausencia.ConsultarAusenciaModel
@model ConsultarAusenciaBancoModel

@{
    ViewData["Title"] = "Consultar Ausência";
}

<partial name="/Views/Ausencia/Partials/_AusenciaStyle.cshtml" />

<div class="consulta-container">
    <div>
        <h3>Ausências cadastrados pelo Usuario: @ViewData["nome"]</h3>
    </div>

    <form asp-controller="Ausencia" asp-action="ConsultarAusencia" method="get" class="form-horizontal max-min-width">
        <div class="row margin-bottom-10px margin-left-1px">
            <div class="col-lg-2 margin-right-15px">

                <div class="form-group">
                    <label asp-for="@Model.psqDataAusencia" class="control-label form-label"></label>
                    <input asp-for="@Model.psqDataAusencia" asp-format="{0:dd/MM/yyyy}" type="datetime" textmode="DateTimeLocal" class="form-control form-input form-input-center maskDate" id="dataAusenciaInicio" />
                </div>

                @*<div class="form-group">
            <label asp-for="@Model.psqDataAusencia" class="control-label form-label"></label>
            <input asp-for="@Model.psqDataAusencia" class="form-control form-input form-input-center" id="psqDataAusencia" />
            <span asp-validation-for="@Model.psqDataAusencia" class="text-danger"></span>
        </div>*@
            </div>

            <div class="col-lg-2" style="text-align: center; margin-top: 25px;">
                <button type="submit" id="btnPesquisar" class="btn btn-success btn-brand btn-brand-big">&nbsp;Pesquisar&nbsp;</button>
            </div>

            <div class="col-lg-8"></div>
        </div>
    </form>

    <partial name="~/Views/Ausencia/Partials/Consultar/_ConsultaAusenciaTable.cshtml" for="@Model.ListaConsultarAusenciaModel" />

</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <partial name="/Views/Ausencia/Partials/_AusenciaScript.cshtml" />
}

<button type="button" id="btnModalConsultaAusencia" class="btn btn-primary displayNone" data-toggle="modal" data-target="#editarAusenciaModal"> </button>

<div class="modal fade" id="editarAusenciaModal" tabindex="-1" role="dialog" aria-labelledby="editarAusenciaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header displayFlex">
                <h4 class="modal-title width100" id="editarAusenciaModalLabel">@ViewBag.MensagemTitle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (ViewBag.MensagemBodyController.ToString() != "")
                {<h5>@ViewBag.MensagemBodyController</h5>}
                @if (ViewBag.MensagemBodyAction.ToString() != "")
                {<h5>@ViewBag.MensagemBodyAction</h5>}
                <h5 id="mensagemBody">@ViewBag.MensagemBody</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.MensagemBody.ToString() != "")
{
    <script>
        $(document).ready(function () {
            $('#btnModalConsultaAusencia').click();
        });
    </script>
}