<h2>Session</h2>

<h4>ID: @ViewData["idUsuario"]</h4>
<h4>Username: @ViewData["usuario"].</h4>
<h4>Tipo Usuário: @ViewData["tipoUsuario"]</h4>
<h4>IdMedico: @ViewData["idMedico"].</h4>

<table border="1">
    <tr>
        <th align="center">Nome da Flag</th>
        <th align="center">Sim</th>
        <th align="center">Não</th>
    </tr>
    @* USUÁRIO *@
    <tr>
        <td>Inserir Usuário</td>
        @if ((int)ViewData["flUsuarioI"] == 1)
        {
            <td>@ViewData["flUsuarioI"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flUsuarioI"]</td>
        }
    </tr>
    <tr>
        <td>Consultar Usuário</td>
        @if ((int)ViewData["flUsuarioC"] == 1)
        {
            <td>@ViewData["flUsuarioC"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flUsuarioC"]</td>
        }
    </tr>
    <tr>
        <td>Alterar Usuário</td>
        @if ((int)ViewData["flUsuarioA"] == 1)
        {
            <td>@ViewData["flUsuarioA"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flUsuarioA"]</td>
        }
    </tr>
    <tr>
        <td>Excluir Usuário</td>
        @if ((int)ViewData["flUsuarioE"] == 1)
        {
            <td>@ViewData["flUsuarioE"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flUsuarioE"]</td>
        }
    </tr>
    @* PACIENTE *@
    <tr>
        <td>Inserir Paciente</td>
        @if ((int)ViewData["flPacienteI"] == 1)
        {
            <td>@ViewData["flPacienteI"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flPacienteI"]</td>
        }
    </tr>
    <tr>
        <td>Consultar Paciente</td>
        @if ((int)ViewData["flPacienteC"] == 1)
        {
            <td>@ViewData["flPacienteC"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flPacienteC"]</td>
        }
    </tr>
    <tr>
        <td>Alterar Paciente</td>
        @if ((int)ViewData["flPacienteA"] == 1)
        {
            <td>@ViewData["flPacienteA"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flPacienteA"]</td>
        }
    </tr>
    <tr>
        <td>Excluir Paciente</td>
        @if ((int)ViewData["flPacienteE"] == 1)
        {
            <td>@ViewData["flPacienteE"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flPacienteE"]</td>
        }
    </tr>
    @* Consulta *@
    <tr>
        <td>Inserir Consulta</td>
        @if ((int)ViewData["flConsultaI"] == 1)
        {
            <td>@ViewData["flConsultaI"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flConsultaI"]</td>
        }
    </tr>
    <tr>
        <td>Consultar Consulta</td>
        @if ((int)ViewData["flConsultaC"] == 1)
        {
            <td>@ViewData["flConsultaC"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flConsultaC"]</td>
        }
    </tr>
    <tr>
        <td>Alterar Consulta</td>
        @if ((int)ViewData["flConsultaA"] == 1)
        {
            <td>@ViewData["flConsultaA"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flConsultaA"]</td>
        }
    </tr>
    <tr>
        <td>Excluir Consulta</td>
        @if ((int)ViewData["flConsultaE"] == 1)
        {
            <td>@ViewData["flConsultaE"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flConsultaE"]</td>
        }
    </tr>
    @* Medicamento *@
    <tr>
        <td>Inserir Medicamento</td>
        @if ((int)ViewData["flMedicamentoI"] == 1)
        {
            <td>@ViewData["flMedicamentoI"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flMedicamentoI"]</td>
        }
    </tr>
    <tr>
        <td>Consultar Medicamento</td>
        @if ((int)ViewData["flMedicamentoC"] == 1)
        {
            <td>@ViewData["flMedicamentoC"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flMedicamentoC"]</td>
        }
    </tr>
    <tr>
        <td>Alterar Medicamento</td>
        @if ((int)ViewData["flMedicamentoA"] == 1)
        {
            <td>@ViewData["flMedicamentoA"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flMedicamentoA"]</td>
        }
    </tr>
    <tr>
        <td>Excluir Medicamento</td>
        @if ((int)ViewData["flMedicamentoE"] == 1)
        {
            <td>@ViewData["flMedicamentoE"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flMedicamentoE"]</td>
        }
    </tr>
    @* Exame *@
    <tr>
        <td>Inserir Exames</td>
        @if ((int)ViewData["flExamesI"] == 1)
        {
            <td>@ViewData["flExamesI"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flExamesI"]</td>
        }
    </tr>
    <tr>
        <td>Consultar Exames</td>
        @if ((int)ViewData["flExamesC"] == 1)
        {
            <td>@ViewData["flExamesC"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flExamesC"]</td>
        }
    </tr>
    <tr>
        <td>Alterar Exames</td>
        @if ((int)ViewData["flExamesA"] == 1)
        {
            <td>@ViewData["flExamesA"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flExamesA"]</td>
        }
    </tr>
    <tr>
        <td>Excluir Exames</td>
        @if ((int)ViewData["flExamesE"] == 1)
        {
            <td>@ViewData["flExamesE"]</td>
            <td>0</td>
        }
        else
        {
            <td>0</td>
            <td>@ViewData["flExamesE"]</td>
        }
    </tr>
</table>











