@using SGCM.Models.Usuarios
@model List<UsuariosModel>

@{
    ViewData["Title"] = "Consulta Usuário";
}

<partial name="/Views/Usuarios/Partials/_UsuarioStyle.cshtml" />

<div class="consulta-usuario-container">
    <div class="medico-header">
        <h3></h3>
    </div>

    <form asp-action="EditarUsuario" asp-controller="Usuarios" method="POST">
        @Html.AntiForgeryToken()



    </form>
</div>


    <table>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    <input type="text" asp-for="@Model[i].pessoa.Nome" />@Model[i].pessoa.Nome"
                    <input type="text" asp-for="@Model[i].pessoa.CPF" />@Model[i].pessoa.CPF
                    <input type="text" asp-for="@Model[i].pessoa.Telefone_Celular" />@Model[i].pessoa.Telefone_Celular
                    <input type="text" asp-for="@Model[i].pessoa.IdPessoa" />@Model[i].pessoa.IdPessoa
                    <input type="text" asp-for="@Model[i].usuario.IdUsuario" />@Model[i].usuario.IdUsuario
                    <input type="text" asp-for="@Model[i].permissoes.IdPermissoes" />@Model[i].permissoes.IdPermissoes
                    @*<label asp-for="@Model[i].Question">@(Model[i].Question)</label>
        <input asp-for="@Model[i].Answer" />*@
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="save" />
</form>

@*usuarioCompletoTO.pessoaTO.Nome = dr.GetString(0);
usuarioCompletoTO.pessoaTO.Cpf = dr.GetString(1);
usuarioCompletoTO.pessoaTO.Telefone_Celular = dr.GetString(2);
usuarioCompletoTO.pessoaTO.Id_Pessoa = dr.GetInt32(3);
usuarioCompletoTO.usuarioTO.ID_Usuario = dr.GetInt32(4);
usuarioCompletoTO.permissoesTO.Id_Permissoes = dr.GetInt32(5);*@