@using SGCM.Models.Usuario.CadastroUsuarioModel;
@model CadastroUsuarioModel

<div class="row row-margin-top-bottom-3px">

    <div class="col-lg-2"></div>

    <div class="col-lg-2">
        <label class="padding-top-5px">Inserir</label>
    </div>

    <div class="col-lg-2">
        <label class="padding-top-5px">Consultar</label>
    </div>

    <div class="col-lg-2">
        <label class="padding-top-5px">Alterar</label>
    </div>

    <div class="col-lg-2">
        <label class="padding-top-5px">Excluir</label>
    </div>

    <div class="col-lg-2">
        <div class="form-group">
            <button type="button" id="btnSelecionarTodos" class="btn btn-default btn-brand btn-brand-big">&nbsp;Selecionar Todos&nbsp;</button>
        </div>
    </div>

</div>

@* PERMISSOES USUARIO *@
<div class="row row-margin-top-bottom-3px">

    <div class="col-lg-2 align-a-esquerda">
        <label class="padding-top-5px">Usuários</label>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flUsuarioI" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flUsuarioC" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flUsuarioA" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flUsuarioE" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

</div>
<hr width="100%">
@* PERMISSOES PACIENTE *@
<div class="row row-margin-top-bottom-3px">

    <div class="col-lg-2 align-a-esquerda">
        <label class="padding-top-5px">Paciente</label>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flPacienteI" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flPacienteC" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flPacienteA" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flPacienteE" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

</div>
<hr width="100%">
@* PERMISSOES CONSULTA *@
<div class="row">

    <div class="col-lg-2 align-a-esquerda">
        <label class="padding-top-5px">Consulta</label>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flConsultaI" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flConsultaC" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flConsultaA" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flConsultaE" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

</div>
<hr width="100%">
@* PERMISSOES AUSENCIA *@
<div class="row">

    <div class="col-lg-2 align-a-esquerda">
        <label class="padding-top-5px">Ausência</label>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flAusenciaI" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flAusenciaC" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flAusenciaA" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flAusenciaE" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

</div>
<hr width="100%">
@* PERMISSOES MEDICAMENTO *@
<div class="row">

    <div class="col-lg-2 align-a-esquerda">
        <label class="padding-top-5px">Medicamento</label>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flMedicamentoI" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flMedicamentoC" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flMedicamentoA" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flMedicamentoE" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

</div>
<hr width="100%">
@* PERMISSOES EXAME *@
<div class="row">

    <div class="col-lg-2 align-a-esquerda">
        <label class="padding-top-5px">Exames</label>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flExamesI" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flExamesC" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flExamesA" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flExamesE" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

</div>
<hr width="100%">
@* PERMISSOES MOLESTIA ATUAL *@
<div class="row">

    <div class="col-lg-2 align-a-esquerda">
        <label class="padding-top-5px">Molestia Atual</label>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flHistoriaMolestiaAtualI" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flHistoriaMolestiaAtualC" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flHistoriaMolestiaAtualA" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flHistoriaMolestiaAtualE" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

</div>
<hr width="100%">
@* PERMISSOES PATOLOGICA PREGRESSA *@
<div class="row">

    <div class="col-lg-2 align-a-esquerda">
        <label class="padding-top-5px">Patológica Pregressa</label>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flHistoriaPatologicaPregressaI" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flHistoriaPatologicaPregressaC" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flHistoriaPatologicaPregressaA" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flHistoriaPatologicaPregressaE" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

</div>
<hr width="100%">
@* PERMISSOES HIPOTESE DIAGNOSTICA *@
<div class="row">

    <div class="col-lg-2 align-a-esquerda">
        <label class="padding-top-5px">Patológica Pregressa</label>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flHipoteseDiagnosticaI" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flHipoteseDiagnosticaC" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flHipoteseDiagnosticaA" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flHipoteseDiagnosticaE" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

</div>
<hr width="100%">
@* PERMISSOES CONDUTA *@
<div class="row">

    <div class="col-lg-2 align-a-esquerda">
        <label class="padding-top-5px">Patológica Pregressa</label>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flCondutaI" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flCondutaC" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flCondutaA" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.flCondutaE" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

</div>
<hr width="100%">
<div class="form-group padding-top-15px">
    <button id="moveAnteriorDadosPermissoes" type="button" class="btn btn-info btn-brand btn-brand-big margin-right-15-px">&nbsp;Anterior&nbsp;</button>
    <button type="submit" class="btn btn-success btn-brand btn-brand-big">&nbsp;Salvar&nbsp;</button>
</div>