@using SGCM.Models.Usuario.EditarUsuarioModel;
@model EditarUsuarioModel

<div class="row row-margin-top-bottom-3px">

    <div class="col-lg-2"></div>

    <div class="col-lg-2">
        <label class="padding-top-5px">Inserir</label>
    </div>

    <div class="col-lg-2">
        <label class="padding-top-5px">Consultar</label>
    </div>

    <div class="col-lg-2">
        <label class="padding-top-5px">Alterar</label>
    </div>

    <div class="col-lg-2">
        <label class="padding-top-5px">Excluir</label>
    </div>

    <div class="col-lg-2">
        <div class="form-group">
            <button type="button" id="btnSelecionarTodos" class="btn btn-default btn-brand btn-brand-big">&nbsp;Selecionar Todos&nbsp;</button>
        </div>
    </div>

</div>

<div class="row row-margin-top-bottom-3px">

    <div class="col-lg-2 align-a-esquerda">
        <label class="padding-top-5px">Usuários</label>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlUsuarioI" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlUsuarioC" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlUsuarioA" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlUsuarioE" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

</div>

<div class="row row-margin-top-bottom-3px">

    <div class="col-lg-2 align-a-esquerda">
        <label class="padding-top-5px">Paciente</label>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlPacienteI" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlPacienteC" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlPacienteA" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlPacienteE" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

</div>

<div class="row row-margin-top-bottom-3px">

    <div class="col-lg-2 align-a-esquerda">
        <label class="padding-top-5px">Consulta</label>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlConsultaI" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlConsultaC" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlConsultaA" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlConsultaE" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

</div>

<div class="row row-margin-top-bottom-3px">

    <div class="col-lg-2 align-a-esquerda">
        <label class="padding-top-5px">Medicamento</label>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlMedicamentoI" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlMedicamentoC" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlMedicamentoA" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlMedicamentoE" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

</div>

<div class="row row-margin-top-bottom-3px">

    <div class="col-lg-2 align-a-esquerda">
        <label class="padding-top-5px">Exames</label>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlExamesI" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlExamesC" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlExamesA" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

    <div class="col-lg-2">
        <div class="form-check form-check-inline">
            <input asp-for="@Model.permissoes.FlExamesE" class="form-control form-input form-input-center checkbox-size-box-shadow" type="checkbox" value="True" />
        </div>
    </div>

</div>

<div class="form-group padding-top-15px">
    <button id="moveAnteriorDadosPermissoes" type="button" class="btn btn-info btn-brand btn-brand-big margin-right-15-px">&nbsp;Anterior&nbsp;</button>
    <button type="submit" class="btn btn-success btn-brand btn-brand-big">&nbsp;Salvar&nbsp;</button>
</div>

<div id="esconderInputs">
    <div id="dataCadastro">
        <label asp-for="@Model.permissoes.IdPermissoes" class="control-label form-label"></label>
        <input asp-for="@Model.permissoes.IdPermissoes" class="form-control form-input form-input-center" />
        <span asp-validation-for="@Model.permissoes.IdPermissoes" class="text-danger"></span>
    </div>
</div>