@using SGCM.Models.Usuario.CadastroUsuarioModel;
@using SGCM.Models.UserMessage

@model CadastroUsuarioModel

@{
    ViewData["Title"] = "Cadastro Usuário";
}

@* Folha De Estilo *@
<partial name="/Views/Usuario/Partials/Cadastro/_UsuarioStyle.cshtml" />

<div class="center-form-container">
    <form asp-controller="Usuario" asp-action="CadastroUsuario" method="post" class="form-horizontal max-min-width">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (ViewData["UserMessage"] != null)
        {
            var message = (UserMessage)ViewData["userMessage"];
            <div class="alert-message @message.cssClassName">
                <div id="Title" class="">
                    <strong>@message.title</strong>
                </div>
                <div id="message" class="">
                    @message.userMessage
                </div>
            </div>
        }
        <ul class="nav nav-tabs">
            <li id="liDadosPessoais" class="active"><a data-toggle="tab" href="#dadosPessoais">Dados Pessoais</a></li>
            <li id="liDadosLogin"><a data-toggle="tab" href="#dadosLogin">Dados Login</a></li>
            <li id="liDadosPermissoes"><a data-toggle="tab" href="#dadosPermissoes">Dados Permissões</a></li>
        </ul>

        <div class="tab-content">
            <div id="dadosPessoais" class="tab-pane fade in active">
                <h3>Pessoais</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Usuario/Partials/Cadastro/_DadosPessoais.cshtml" model="@Model" />

            </div>
            <div id="dadosLogin" class="tab-pane fade">
                <h3>Login</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Usuario/Partials/Cadastro/_DadosLogin.cshtml" />
            </div>
            <div id="dadosPermissoes" class="tab-pane fade">
                <h3>Permissões</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Usuario/Partials/Cadastro/_DadosPermissoes.cshtml" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <partial name="/Views/Usuario/Partials/Cadastro/_UsuarioScript.cshtml" />
}



