@using SGCM.Models.Usuario.CadastroUsuarioModel;
@using SGCM.Models.UserMessage

@model CadastroUsuarioModel

@{
    ViewData["Title"] = "Cadastro Usuário";
}

@* Folha De Estilo *@
<partial name="/Views/Usuario/Partials/Cadastro/_UsuarioStyle.cshtml" />

<div class="center-form-container">
    <form id="login" asp-controller="Usuario" asp-action="CadastroUsuario" method="post" class="form-horizontal max-min-width">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <ul class="nav nav-tabs">
            <li id="liDadosPessoais" class="active"><a data-toggle="tab" href="#dadosPessoais">Dados Pessoais</a></li>
            <li id="liDadosLogin"><a data-toggle="tab" href="#dadosLogin">Dados Login</a></li>
            <li id="liDadosPermissoes"><a data-toggle="tab" href="#dadosPermissoes">Dados Permissões</a></li>
        </ul>

        <div class="tab-content">
            <div id="dadosPessoais" class="tab-pane fade in active">
                <h3>Pessoais</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Usuario/Partials/Cadastro/_DadosPessoais.cshtml" model="@Model" />

            </div>
            <div id="dadosLogin" class="tab-pane fade">
                <h3>Login</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Usuario/Partials/Cadastro/_DadosLogin.cshtml" />
            </div>
            <div id="dadosPermissoes" class="tab-pane fade">
                <h3>Permissões</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Usuario/Partials/Cadastro/_DadosPermissoes.cshtml" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <partial name="/Views/Usuario/Partials/Cadastro/_UsuarioScript.cshtml" />
}

<button type="button" id="btnModalCadastroUsuario" class="btn btn-primary displayNone" data-toggle="modal" data-target="#cadastroUsuarioModal"> </button>

<div class="modal fade" id="cadastroUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="cadastroUsuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header displayFlex">
                <h4 class="modal-title width100" id="cadastroUsuarioModalLabel">@ViewBag.MensagemTitle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (ViewBag.MensagemBodyController.ToString() != "")
                {<h5>@ViewBag.MensagemBodyController</h5>}
                @if (ViewBag.MensagemBodyAction.ToString() != "")
                {<h5>@ViewBag.MensagemBodyAction</h5>}
                <h5 id="mensagemBody">@ViewBag.MensagemBody</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.MensagemBody.ToString() != "")
{
    <script>
        $(document).ready(function () {
            $('#btnModalCadastroUsuario').click();
        });
    </script>
}