@using SGCM.Models.Usuario.ConsultarUsuarioModel

@model List<CadastroUsuarioModel>

@{
    ViewData["Title"] = "Consulta Usuário";
}

<partial name="/Views/Usuario/Partials/Consultar/_UsuarioStyle.cshtml" />

<div class="consulta-usuario-container">
    <div>
        <h3>Usuarios Cadastrador pelo Médico: @ViewData["nome"]</h3>
    </div>

    <table title="Tabela dos Usuários" class="table table-striped table-bordered text-center" border="1">
        <thead>
            <tr>
                <td>Nome</td>
                <td>CPF</td>
                <td>Telefone Celular</td>
                <td>Editar</td>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.pessoa.Nome</td>
                        <td>@user.pessoa.CPF</td>
                        <td>@user.pessoa.Telefone_Celular</td>
                        <td>
                            <div>
                                <a asp-controller="Usuario" asp-action="EditarUsuario" asp-route-id="@user.pessoa.IdPessoa">Edit</a>
                            </div>
                        </td>
                        <td hidden="hidden">@user.pessoa.IdPessoa</td>
                        <td hidden="hidden">@user.usuario.IdUsuario</td>
                        <td hidden="hidden">@user.permissoes.IdPermissoes</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <partial name="/Views/Usuario/Partials/Consultar/_UsuarioScript.cshtml" />
}

<button type="button" id="btnModalConsultaUsuario" class="btn btn-primary displayNone" data-toggle="modal" data-target="#consultarUsuarioModal"> </button>

<div class="modal fade" id="consultarUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="consultarUsuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header displayFlex">
                <h4 class="modal-title width100" id="consultarUsuarioModalLabel">@ViewBag.MensagemTitle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (ViewBag.MensagemBodyController.ToString() != "")
                {<h5>@ViewBag.MensagemBodyController</h5>}
                @if (ViewBag.MensagemBodyAction.ToString() != "")
                {<h5>@ViewBag.MensagemBodyAction</h5>}
                <h5 id="mensagemBody">@ViewBag.MensagemBody</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.MensagemBody.ToString() != "")
{
    <script>
        $(document).ready(function () {
            $('#btnModalConsultaUsuario').click();
        });
    </script>
}