@using SGCM.Models.Consulta.EditarConsultaModel;
@model EditarConsultaModel

@{ ViewData["Title"] = "Editar Consulta"; }

@* Folha De Estilo *@
<partial name="/Views/Consulta/Partials/_ConsultaStyle.cshtml" />

<div class="center-form-container">
    <form asp-controller="Consulta" asp-action="EditarConsulta" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal max-min-width">
        @Html.AntiForgeryToken()
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#dadosPessoais">Dados Consulta</a></li>
            @{
                if (ViewData["flHistoriaMolestiaAtualC"].ToString() == "1")
                {
                    <li>
                        <a data-toggle="tab" href="#dadosMolestiaAtual">História da Moléstia Atual</a>
                    </li>
                }
                else
                {
                    <li class="disabled">
                        <a style="cursor:no-drop" href="#dadosMolestiaAtual">História da Moléstia Atual</a>
                    </li>
                }
            }

            @{
                if (ViewData["flHistoriaPatologicaPregressaC"].ToString() == "1")
                {
                    <li>
                        <a data-toggle="tab" href="#dadosHistoriaPatologicaPregressa">História Patológica Pregressa</a>
                    </li>
                }
                else
                {
                    <li class="disabled">
                        <a style="cursor:no-drop" href="#dadosHistoriaPatologicaPregressa">História Patológica Pregressa</a>
                    </li>
                }
            }

            @{
                if (ViewData["flExamesC"].ToString() == "1")
                {
                    <li>
                        <a data-toggle="tab" href="#dadosExame">Exames</a>
                    </li>
                }
                else
                {
                    <li class="disabled">
                        <a style="cursor:no-drop" href="#dadosExame">Exames</a>
                    </li>
                }
            }

            @{
                if (ViewData["flHipoteseDiagnosticaC"].ToString() == "1")
                {
                    <li>
                        <a data-toggle="tab" href="#dadosHipoteseDiagnostica">Hipótese Diagnóstica</a>
                    </li>
                }
                else
                {
                    <li class="disabled">
                        <a style="cursor:no-drop" href="#dadosHipoteseDiagnostica">Hipótese Diagnóstica</a>
                    </li>
                }
            }

            @{
                if (ViewData["flCondutaC"].ToString() == "1")
                {
                    <li>
                        <a data-toggle="tab" href="#dadosConduta">Conduta</a>
                    </li>
                }
                else
                {
                    <li class="disabled">
                        <a style="cursor:no-drop" href="#dadosConduta">Conduta</a>
                    </li>
                }
            }
        </ul>

        <div class="tab-content">
            <div id="dadosPessoais" class="tab-pane fade in active">
                <h3>Paciente</h3>
                <hr width="100%">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Consulta/Partials/Editar/Pessoais/_DadosPessoais.cshtml" model="@Model" />
            </div>

            <div id="dadosMolestiaAtual" class="tab-pane fade">
                <h3>História da Moléstia Atual</h3>
                <hr width="100%">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Consulta/Partials/Editar/HistoriaMolestiaAtual/_DadosMolestiaAtual.cshtml" model="@Model" />
            </div>

            <div id="dadosHistoriaPatologicaPregressa" class="tab-pane fade">
                <h3>Historia Patológica Pregressa</h3>
                <hr width="100%">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Consulta/Partials/Editar/HistoriaPatologicaPregressa/_DadosHistoriaPatologicaPregressa.cshtml" model="@Model" />
            </div>

            <div id="dadosExame" class="tab-pane fade">
                <h3>Exame</h3>
                <hr width="100%">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Consulta/Partials/Editar/Exame/_DadosExame.cshtml" model="@Model" />
            </div>

            <div id="dadosHipoteseDiagnostica" class="tab-pane fade">
                <h3>Hipótese Diagnóstica</h3>
                <hr width="100%">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Consulta/Partials/Editar/HipoteseDiagnostica/_DadosHipoteseDiagnostica.cshtml" model="@Model" />
            </div>

            <div id="dadosConduta" class="tab-pane fade">
                <h3>Conduta</h3>
                <hr width="100%">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Consulta/Partials/Editar/Conduta/_DadosConduta.cshtml" model="@Model" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <partial name="/Views/Consulta/Partials/_ConsultaScript.cshtml" />
}

<button type="button" id="btnModalEditarConsulta" class="btn btn-primary displayNone" data-toggle="modal" data-target="#editarConsultaModal"> </button>

<div class="modal fade" id="editarConsultaModal" tabindex="-1" role="dialog" aria-labelledby="editarConsultaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header displayFlex">
                <h4 class="modal-title width100" id="editarConsultaModalLabel">@ViewBag.MensagemTitle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (ViewBag.MensagemBodyController.ToString() != "")
                {<h5>@ViewBag.MensagemBodyController</h5>}
                @if (ViewBag.MensagemBodyAction.ToString() != "")
                {<h5>@ViewBag.MensagemBodyAction</h5>}
                <h5 id="mensagemBody">@ViewBag.MensagemBody</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.MensagemBody.ToString() != "")
{
    <script>
        $(document).ready(function () {
            $('#btnModalEditarConsulta').click();
        });
    </script>
}

<script>
    $(document).ready(function () {
        var inputNome = $('#paciente_Nome');
        var inputCPF = $('#paciente_CPF');
        var inputDataConsulta = $('#dataConsulta');
        var btnSlavar = $('#btnSalvarEdicao');
        var btnPesquisaPaciente = $('#btnPesquisaPaciente');

        var dataConsulta = $('#dataConsulta').val();
        var dataAtual = new Date($.now()).toLocaleString();

        var dataConsultaDateTime = new Date(dataConsulta.split(' ')[0].split('/')[2], dataConsulta.split(' ')[0].split('/')[1], dataConsulta.split(' ')[0].split('/')[0], dataConsulta.split(' ')[1].split(':')[0], dataConsulta.split(' ')[1].split(':')[1], 0);
        var dataAtualDateTime = new Date(dataAtual.split(' ')[0].split('/')[2], dataAtual.split(' ')[0].split('/')[1], dataAtual.split(' ')[0].split('/')[0], dataAtual.split(' ')[1].split(':')[0], dataAtual.split(' ')[1].split(':')[1], 0);

        if ( (dataConsultaDateTime) <= (dataAtualDateTime) ) {
            inputNome.prop('readOnly', true);
            inputCPF.prop('readOnly', true);
            inputDataConsulta.prop('readOnly', true);
            btnSlavar.prop('readOnly', true);
            btnPesquisaPaciente.prop('readOnly', true);
            $('#spanMensagem').removeClass("displayNone");
        } else {
            inputNome.prop('readOnly', false);
            inputCPF.prop('readOnly', false);
            inputDataConsulta.prop('readOnly', false);
            btnSlavar.prop('readOnly', false);
            btnPesquisaPaciente.prop('readOnly', false);
            $('#spanMensagem').addClass("displayNone");
        }


        var statusAtendimentoConsulta = @Model.Consulta.status;
        if (statusAtendimentoConsulta == 0) {
            $('#btnCancelar').removeClass("displayNone");

        } else {
            $('#btnCancelar').addClass("displayNone");
        }
    });
</script>

<button type="button" id="btnconsultaPaciente" class="btn btn-primary displayNone" data-toggle="modal" data-target="#consultaPaciente"> </button>

<div class="modal fade" id="consultaPaciente" tabindex="-1" role="dialog" aria-labelledby="consultaPacienteLabel" aria-hidden="true">
    <div class="modal-dialog width850px" role="document">
        <div class="modal-content">
            <div class="modal-header displayFlex">
                <h4 class="modal-title width100" id="consultaPacienteLabel">Consulta Paciente</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row margin-row center margin-top-bottom">
                    <div class="col-lg-1 margin-right-15-px">
                        <label>Nome: </label>
                    </div>
                    <div class="col-lg-6 margin-right-15-px">
                        <input class="form-control form-input form-input-center" id="modalInputNome" />
                    </div>
                </div>

                <div class="row margin-row center margin-top-bottom">
                    <div class="col-lg-1 margin-right-15-px">
                        <label>CPF: </label>
                    </div>
                    <div class="col-lg-4 margin-right-15-px">
                        <input class="form-control form-input form-input-center maskCPF" id="modalInputCPF" />
                    </div>
                </div>

                <div class="row margin-row center margin-top-bottom">
                    <div class="col-lg-12 margin-right-15-px">
                        <table id="dataTableCadastrarConsulta" class="table table-bordered table-striped table-hover" title="Tabela dos Usuários" border="1">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>IdPaciente</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnBuscarPacienteModal">Buscar</button>
                    <button type="button" class="btn btn-success" id="btnSelecionarPacienteModal">Selecionar</button>
                    <button type="button" class="btn btn-warning" id="btnFecharPacienteModal" onclick="limparModalConsultaPaciente()" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>