@using SGCM.Models.Paciente.EditarPacienteModel;
@model EditarPacienteModel

@{
    ViewData["Title"] = "Editar Paciente";
}

@* Folha De Estilo *@
<partial name="/Views/Paciente/_PacienteStyle.cshtml" />

<div class="center-form-container">
    <form asp-controller="Paciente" asp-action="EditarPaciente" method="post" class="form-horizontal max-min-width">
        @Html.AntiForgeryToken()
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#dadosPessoais">Dados Pessoais Paciente</a>
            </li>
            @{
                if (ViewData["flConsultaC"].ToString() == "1")
                {
                    <li>
                        <a data-toggle="tab" href="#dadosConsulta">Dados Consulta</a>
                    </li>
                }
                else
                {
                    <li class="disabled">
                        <a style="cursor:no-drop" href="#dadosConsulta">Dados Consulta</a>
                    </li>
                }
            }

            @{
                if (ViewData["flHistoriaMolestiaAtualC"].ToString() == "1")
                {
                    <li>
                        <a data-toggle="tab" href="#dadosMolestiaAtual">História da Moléstia Atual</a>
                    </li>
                }
                else
                {
                    <li class="disabled">
                        <a style="cursor:no-drop" href="#dadosMolestiaAtual">História da Moléstia Atual</a>
                    </li>
                }
            }

            @{
                if (ViewData["flHistoriaPatologicaPregressaC"].ToString() == "1")
                {
                    <li>
                        <a data-toggle="tab" href="#dadosHistoriaPatologicaPregressa">História Patológica Pregressa</a>
                    </li>
                }
                else
                {
                    <li class="disabled">
                        <a style="cursor:no-drop" href="#dadosHistoriaPatologicaPregressa">História Patológica Pregressa</a>
                    </li>
                }
            }

            @{
                if (ViewData["flExamesC"].ToString() == "1")
                {
                    <li>
                        <a data-toggle="tab" href="#dadosExame">Dados Exames</a>
                    </li>
                }
                else
                {
                    <li class="disabled">
                        <a style="cursor:no-drop" href="#dadosExame">Dados Exames</a>
                    </li>
                }
            }

            @{
                if (ViewData["flHipoteseDiagnosticaC"].ToString() == "1") {
                    <li>
                        <a data-toggle="tab" href="#dadosMedicamento">Hipótese Diagnóstica</a>
                    </li>
                } else {
                    <li class="disabled">
                        <a style="cursor:no-drop" href="#dadosMedicamento">Hipótese Diagnóstica</a>
                    </li>
                }
            }
        </ul>

        <div class="tab-content">
            <div id="dadosPessoais" class="tab-pane fade in active">
                <h3>Paciente</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Paciente/Partials/Editar/_DadosPessoais.cshtml" model="@Model" />
            </div>

            <div id="dadosConsulta" class="tab-pane fade">
                <h3>Consulta</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Paciente/Partials/Consulta/_DadosConsulta.cshtml" model="@Model" />
            </div>

            <div id="dadosHistoriaPatologicaPregressa" class="tab-pane fade">
                <h3>Historia Patológica Pregressa</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Paciente/Partials/HistoriaPatologicaPregressa/_DadosHistoriaPatologicaPregressa.cshtml" model="@Model" />
            </div>

            <div id="dadosMolestiaAtual" class="tab-pane fade">
                <h3>História da Moléstia Atual</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Paciente/Partials/HistoriaMolestiaAtual/_DadosMolestiaAtual.cshtml" model="@Model" />
            </div>

            <div id="dadosExame" class="tab-pane fade">
                <h3>Exame</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Paciente/Partials/Exame/_DadosExame.cshtml" model="@Model" />
            </div>

            <div id="dadosMedicamento" class="tab-pane fade">
                <h3>Medicamento</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <partial name="/Views/Paciente/Partials/Medicamento/_DadosMedicamento.cshtml" model="@Model" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <partial name="/Views/Paciente/_PacienteScript.cshtml" />
}

<button type="button" id="btnModalCadastroPaciente" class="btn btn-primary displayNone" data-toggle="modal" data-target="#cadastroPacienteModal"> </button>

<div class="modal fade" id="cadastroPacienteModal" tabindex="-1" role="dialog" aria-labelledby="cadastroPacienteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header displayFlex">
                <h4 class="modal-title width100" id="cadastroPacienteModalLabel">@ViewBag.MensagemTitle</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (ViewBag.MensagemBodyController.ToString() != "")
                {<h5>@ViewBag.MensagemBodyController</h5>}
                @if (ViewBag.MensagemBodyAction.ToString() != "")
                {<h5>@ViewBag.MensagemBodyAction</h5>}
                <h5 id="mensagemBody">@ViewBag.MensagemBody</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.MensagemBody.ToString() != "")
{
    <script>
        $(document).ready(function () {
            $('#btnModalCadastroPaciente').click();
        });
    </script>
}